body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  color: #36454f;
}
a {
  color: #EA380B;
  font-weight: bold;
}

img {
  margin: 0;
  padding: 0;
  display: block;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant', serif;
  color: #EA380B;
  line-height: 1.2em;
}

p {
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  width: 100%;
}

.email {
  color: #36454f;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.email, .contact-info a {
  line-height: 1.7em;
  font-size: 16px;
}

.hero {
  min-width: 375px;
  display: flex;
  flex-direction: row;
  height: 250px;
  align-items: center;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F3;
}

.left-information {
  width: 60%;
  margin: 50px;
}

.right-information {
  width: 400px;
  margin: 50px 50px 50px 0;
}

div .section-header {
  font-weight: bold;
  letter-spacing: .05em;
  color: #EA380B;
  border-bottom: 1px solid #B8B8B8;
  width: 100%;
  padding-bottom: 10px;
}

#hero-left-spacer {
  margin: 0 50px;
  font-size: 28px;
}

#header {
  height: 5px;
  width: 100%;
  background-color: #EA380B;
}

#profile-pic {
  float: right;
  margin-right: 50px;
}

#social-links {
  height: 40px;
  display: flex;
}

#social-links img{
  margin: 15px 15px 0 0;
  opacity: .6;
  width: 30px;
  transition: opacity .25s linear;
}

#social-links img:hover {
  opacity: 1;
}

.hero, #content-inset {
  max-width: 1200px;
  display: flex;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  #hero-left-spacer {
    font-size: 22px;
  }
}

@media only screen and (max-width:850px) {
  #hero-left-spacer, #profile-pic {
    margin:  10px 50px;
  }
  .right-information, .left-information {
    margin: 50px;
    width: auto;
  }
  #content-inset {
    flex-direction: column;
  }
  .hero {
    flex-direction: column-reverse;
    height: 350px;
    justify-content: center;
    align-items: center;
  }
  .hero h1 {
    font-size: 40px;
    text-align: center;
  }
  #profile-pic img {
    height: 150px;
    clip-path: circle(70px at center);
  }
}

@media only screen and (max-width: 550px) {
  .hero h1 {
    font-size: 28px;
  }
  #hero-left-spacer, #profile-pic {
    margin: 20px;
  }
  .right-information, .left-information {
    margin: 20px;
    width: auto;
  }
}

.company-name, .job-title, .job-length {
  line-height: 1.5em;
}

.company-name {
  font-weight: bold;
    font-size: 21px;
  margin-top: 20px;
}

.job-title, .job-length {
  font-size: 16px;
}

.job-length {
  color: #B8B8B8;
  margin-bottom: 0px
}

.section-break {
  height: 40px;
  width: 100%;
}

.section-break-small {
  height: 20px;
  width: 100%;
}
